div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    red,
    rgba(231, 202, 202, 0.959),
    rgb(119, 58, 163),
    blue,
    rgb(0, 255, 221),
    green,
    yellow,
    red
  );
}
